[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Aleksandr Dolzenko
[user]
	email = alexdolzenko@gmail.com
[core]
	autocrlf = true
	safecrlf = true
